body{
    background-color: grey;
}
.App{
    background-color: antiquewhite;
}
.table{    
    margin-left: auto;
    margin-right: auto;    
}

table, th, td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
    border: 1px solid black;
}

.bottom{
    margin: auto;
    width: 20%;    
    padding: 10px
}

button{
    border-radius: 2px;
    border:none;
    background-color: lightcoral;
    padding: 10px;
    margin-right:2px;
    cursor:pointer;
}